<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Favorites</title>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <h3>Your Favorites</h3>

    <% if (favorites.length===0) { %>
        <p>No favorites yet.</p>
        <% } else { %>
            <ul class="list-group mb-4">
                <% favorites.forEach(song=> { %>

                    <li class="list-group-item">
                        <strong>
                            <%= song.title %>
                        </strong>
                        <div class="text-muted">
                            <%= song.artistName %>
                        </div>
                        <% if (song.songURL) { %>
                            <a href="<%= song.songURL %>" target="_blank">Preview</a>
                            <% } %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
            <%- include("partials/footer") %>
</body>

</html>