<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MusicVault Home Page </title>
    <%- include("partials/head.ejs") %>
</head>
<body>
   
    <%- include("partials/nav.ejs") %>

    <div class="card-title text-center mt-5 mb-5">
        <h1 class="display-4">Welcome <%= firstName %> <%= lastName %></h1>
        <img src="/img/bank_vault_PNG9.png" alt="Vault" style="max-width: 300px; margin-top: 20px;">
    </div>

    <%- include("partials/footer.ejs") %>

</body>
</html>